.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
  /*background-color: #fafafa;*/
}

.nav-item > button {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 6px solid transparent;
  display: flex;
  padding: 8px 8px 8px 2px;
  width: 100%;
  font-size: 16px;
  color: #333;
}

.nav-item.active > button {
  border-left: 6px solid rgb(0, 120, 215);
  color: rgb(0, 120, 215);
}

.nav-item > button:hover {
  background-color: #f0f0f0;
  color: rgb(0, 120, 215);
}

.nav-item > button > * {
  display: inline-block;
}

.nav-item > button > img {
  padding: 8px;
}

.nav-item > button > div {
  line-height: 34px;
}

#settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#menu > button,
#settings > button {
  width: auto;
}

.tab {
  padding: 8px;
}

.tab > div {
  font-size: 24px;
}